<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <rewrite>
      <rules>
        <clear />

        <rule name="StreamlitStatic" stopProcessing="true">
          <match url="^static/(.*)$" />
          <action type="Rewrite" url="http://127.0.0.1:8501/cotizacion/static/{R:1}" />
        </rule>

        <rule name="StreamlitWebSocket" stopProcessing="true">
          <match url="^_stcore/stream/?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_UPGRADE}" pattern="websocket" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="http://127.0.0.1:8501/cotizacion/_stcore/stream" />
        </rule>

        <rule name="StreamlitAll" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="http://127.0.0.1:8501/cotizacion/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>